h3 {
    
    color: rgb(255, 255, 255);
    
}
h2 {
    color: white;
}
h1 {
    color: rgb(12, 118, 255);
}
p {
    color:rgb(255, 255, 255);
}
p,
li {
    font-size: 18px;
    line-height: 1.6;
}
body {
    background-color: rgb(0, 1, 37);
}
section {
    background-color: grey;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
p {
    line-height: 5;
}

p {
    text-align: left;
}
p {
 border-top: 6px solid var(--red);
}
.card{
    color:rgb(0, 1, 68);
    background-color: rgb(21, 0, 97);
    margin: 10px auto;
    border: 0.67px groove rgb(53, 53, 53);
    max-width: 1000px;
    border-radius: 30px;
    padding: 20px;
}
th {
    background-color: rgb(255, 2, 2);
}
img {
    display: block;
    margin: 16px auto 22px;
    border-radius: 24px;
    border: 4px inset rgba(255, 255, 255, 0.92); 
}
header {
    border-top: 6px solid var(--red);
    background: linear-gradient(135deg, var(--lightblue), var(--blue));
}
button {
  
   background-color: lightblue;
    border-radius: 8px;
    padding: 5px
};
main section {
    transition: 1s;
};
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
img {
    transition: 0.3;
}

img:hover {
    transform: scale(1.05);
}
section {
    transition: 0.3;
}

section:hover {
    transform: scale(1.05);
}
main section {
    transition: 0.3;
    animation: fadeIn 1s ease;
}

main section:hover {
    transform: scale(1.02);
}
button {
    transition: 0.3;
}
button:hover {
    transform: scale(1.05);
}
@keyframes fadeIn {
    from {
        opacity:0;
        transform: translateY(15px);
    }
    to { 
        opacity: 1;
        transform: translateY(0);
  }
}
@media (max-width: 700px): {
    header{
        padding: 40px 16px;
    }

    nav a {
        display: block;
    }
    main section {
        padding: 20px;
    }

        button,
        button[type="reset"] {
            width: 100%;
            margin-top: 10px;
            margin-left: 0;
        }
    }
    h1 {
        text-align: center;
        
    }
    h2 {
        text-align: center;
    }
    h1 {
       max-width: 3000px;
       font-size: 70px;
    }
    h2 {
        max-width: 3000px;
        font-size: 70px;
    }