h3 {
    font-size: 50px;
    color: rgb(12, 118, 255);
    text-shadow:  0 0 10px #6b0096,
                0 0 30px #420079, 
                0 0 60px #28004e;;
    
}
h2 {
    color: white;
    text-shadow: 0 0 15px #5e00da;
}
h1 {
    color: rgb(12, 118, 255);
     text-shadow: 0 0 15px #5e00da;
}
p {
    color:rgb(255, 255, 255);
    text-shadow: 0 0 10px #6b0096,
                0 0 30px #420079, 
                0 0 60px #28004e;
    line-height: 2;
}

li {
    font-size: 18px;
    line-height: 5;
}
body {
    background-color: rgb(0, 1, 37);
}
section {
    background-color: rgb(0, 3, 53);
    border-radius: 8px;
    margin: 30px auto;
    padding: 20px;
    box-shadow: 0 0 10px #6b0096,
                0 0 30px #420079, 
                0 0 60px #28004e;;
    
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



p {
    text-align: left;
}
p {
 border-top: 6px solid var(--red);
}
.card{
    color:rgb(0, 1, 68);
    background-color: rgb(0, 3, 53);
    margin: 30px auto;
    border: 0.67px groove rgb(53, 53, 53);
    max-width: 1250px;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 0 10px #6b0096,
                0 0 30px #420079, 
                0 0 60px #28004e;
                         
}
th {
    background-color: rgba(255, 2, 2, 0.507);
    border-radius: 5px;
}
img {
    display: block;
    margin: 16px auto 22px;
    border-radius: 24px;
    border: 4px ridge rgba(149, 113, 207, 0.92); 
}
header {
    border-top: 6px solid var(--red);
    background: linear-gradient(135deg, var(--lightblue), var(--blue));
}
button {
  
   background-color: lightblue;
    border-radius: 8px;
    padding: 5px
};
main section {
    transition: 1s;
};
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
img {
    transition: 0.3;
}

img:hover {
    transform: scale(1.05);
}
section {
    transition: 0.3;
}

section:hover {
    transform: scale(1.05);
}
main section {
    transition: 0.3;
    animation: fadeIn 1s ease;
}

main section:hover {
    transform: scale(1.02);
}
button {
    transition: 0.3;
}
button:hover {
    transform: scale(1.05);
}
@keyframes fadeIn {
    from {
        opacity:0;
        transform: translateY(15px);
    }
    to { 
        opacity: 1;
        transform: translateY(0);
  }
}
@media (max-width: 700px) {
    header{
        padding: 40px 16px;
    }

    nav a {
        display: block;
    }
    main section {
        padding: 20px;
    }

        button,
        button[type="reset"] {
            width: 100%;
            margin-top: 10px;
            margin-left: 0;
        }
    }
    h1 {
        text-align: center;
        
    }
    h2 {
        text-align: center;
    }
    h1 {
       animation: fadeIn 1s ease;
       max-width: 3000px;
       font-size: 70px;
    }
    h2 {
        animation: fadeIn 1s ease;
        max-width: 3000px;
        font-size: 70px;
    }
    button {
        box-shadow: 0 0 10px #3e0079, 
                0 0 30px #420079, 
                0 0 60px #28004e;
                  
    }
    button:hover {
   transform: r;
    }
    
    label{ 
        color: aliceblue;
    }
    td {
        color: aliceblue;
    }
    h4 {
        color: rgb(0, 116, 131);
        text-shadow: 0 0 10px  #6b0096,
                     0 0 30px #420079, 
                     0 0 60px #28004e;
        font-size: 25px;
                  
    }
    input {
        border-radius: 8px;
        font-size: 15px;
    }
    textarea {
        border-radius: 8px;
        font-size: 15px;
    }
    .title {
        background-image: linear-gradient(rgba(80, 2, 126, 0.185), rgba(0, 0, 0, 0.5)), url(samsung.avif);
        background-repeat: no-repeat;
        background-position: center;
        
        background-color: whitesmoke;
        background-size: 10px cover;
        transition: none;
        transform: none;
        min-height: 15vh;
        z-index: -1;
        border-radius: 0%;
    }
    
    iframe {
        border-radius: 8px;
        box-shadow: 0 0 10px #3e0079, 
                0 0 30px #420079, 
                0 0 60px #28004e;
    }

    hr{
      color: #28004e;
    }