h1 {
    color: rgb(0, 0, 73);
    font-size: 40px;
    background: linear-gradient(135deg, var(--lightblue), var(--blue));
}
p {
    color:rgb(0, 48, 66);
}
p,
li {
    font-size: 18px;
    line-height: 1.6;
}
body {
    background-color: antiquewhite;
}
section {
    background-color: grey;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
p {
    line-height: 5;
}
h1 {
    letter-spacing: 6px;
}
h1 {
    text-align: center;
}
h1 {
    font-size: 90px;
 border-top: 6px solid var(--red);
}
.card{
    color:rgb(0, 1, 68);
    background-color: rgb(255, 234, 164);
    margin: 10px auto;
    border: 0.67px groove rgb(53, 53, 53);
    max-width: 1000px;
    border-radius: 30px;
    padding: 20px;
}
th {
    background-color: rgb(255, 2, 2);
}
img {
    display: block;
    margin: 16px auto 22px;
    border-radius: 24px;
    border: 4px inset rgba(255, 255, 255, 0.92); 
}
header {
    border-top: 6px solid var(--red);
    background: linear-gradient(135deg, var(--lightblue), var(--blue));
}
